<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csumb.cst438.router" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DebugPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Record"
            android:label="@string/title_activity_record"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Friends" />
        <activity android:name=".MyRoutes" />
        <activity android:name=".Profile" />
        <activity android:name=".SearchResultsActivity" >
        </activity>
    </application>

</manifest>
